* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
#header {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #666;
  color: white;
  text-align: center;
  line-height: 40px;
  z-index: 666;
}
#header > button {
  height: 100%;
  padding: 5px;
  position: absolute;
}
#header > button:nth-of-type(1) {
  left: 0;
}
#header > button:nth-of-type(2) {
  right: 0;
}
#list {
  position: relative;
  top: 40px;
  overflow: hidden;
}
.list_user p {
  background-color: #ccc;
  padding-left: 10px;
}
.list_user ul li {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid#ccc;
}
.list_index {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.list_index > li {
  margin-top: 5px;
}
#alert {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 667;
}
#alert .alert_content {
    position: relative;
  margin: auto;
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
}
#alert .alert_title {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
#alert .alert_body {
    text-align: center;

}
#alert .alert_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    padding:5px;

}